
<table class="table zebra-striped table-condensed " style='font-size:12px;width:80%' align="center">
  <thead style="background-color:#0EBFE9;">
    <th>Date</th>
    <th>Item</th>
    <th>Site</th>
    <th>Number</th>
    <th>Price</th>
    <th>Amount</th>
    <th></th>
    
  </thead>
  <tbody>
   <% i = 0
    @txn_items.each{|c|
     i+= 1 %>
    <%if i%2 == 0%>
       <tr>
    <%else%>
       <tr class="info">
    <%end%>
    <td><%=c.transaction.on_date%></td>
    <td><%=c.item.name%></td>
    <td><%=c.transaction.site_name%></td>
    <td><%=c.number%></td>
    <td><%=c.price%></td>
    <td> <%=c.amount%></td>
    <td><%=link_to "#{c.transaction_id}", edit_transaction_url(c.transaction_id), :class=>"label label-info"%><%=space(5).html_safe%></td>     
   
   </tr>
   <%} unless @txn_items.blank?%>
  </tbody>

</table>