<br><br>
<div id="show_data" class="row-fluid">
	<div class="span4"> 
      <div  class="row-fluid">
         <div class="span3" style="padding-right:1px;"> 
	     <%=image_tag 'Gold_Cart.png', :size => '64x64'%> 
         </div>
         <div class="span8" style="line-height:30px;padding-left:0px;">
         	<span style="font-size:18px;color:#cdc4c5">Sales Amount</span>
         	<br>
            <span style="font-size:24px;color:#5CB3FF"><%=@total_sales%></span>
         </div>
	</div>
	</div>

	<div class="span6"> 
      <div  class="row-fluid">
         <div class="span2" style="padding-right:1px;"> 
	     <%=image_tag 'tractor.png', :size => '64x64'%> 
         </div>
         <div class="span8" style="line-height:30px;padding-left:0px;">
         	<span style="font-size:18px;color:#cdc4c5">Vehicle/Hamali /Other Charges</span>
         	<br>
            <span style="font-size:24px;color:#5CB3FF"><%=@other_charges%></span>
         </div>
	</div>
	</div>

</div>
<div id="show_data_2" class="row-fluid" style="margin-top:50px;">

    
	<div class="span4"> 
      <div  class="row-fluid">
         <div class="span3" style="padding-right:1px;"> 
	     <%=image_tag 'briefcase.png', :size => '64x64'%> 
         </div>
         <div class="span8" style="line-height:30px;padding-left:0px;">
         	<span style="font-size:18px;color:#cdc4c5">Payment Recieved</span>
         	<br>
            <span style="font-size:24px;color:#5CB3FF"><%=@aggrigate_trans["t_payment_amount"]%></span>
         </div>
	</div>
	</div>



	<div class="span4"> 
      <div  class="row-fluid">
         <div class="span3" style="padding-right:1px;"> 
	     <%=image_tag 'Bag.png', :size => '64x64'%> 
         </div>
         <div class="span8" style="line-height:20px;padding-left:0px;">
         	<span style="font-size:18px;color:#cdc4c5">Total Discount Amount</span><br>
        
            <span style="font-size:24px;color:#5CB3FF"><%=@aggrigate_trans["t_discount"]%></span>
         </div>
	</div>
	</div>
	
</div>

<div id="show_data_3" class="row-fluid" style="margin-top:50px;">

   <div class="span5 well"> 
      <div  class="row-fluid">
         <div class="span3" style="padding-right:1px;"> 
	     <%=image_tag 'Money_Increase.png', :size => '64x64'%> 
         </div>
         <div class="span8" style="line-height:30px;padding-left:0px;">
         	<span style="font-size:18px;color:#cdc4c5">Total Pending Payment</span>
         	<br>
            <span style="font-size:24px;color:#5CB3FF"><%=@contact_balance%></span>
         </div>
	</div>
	</div>
	
</div>

