
<%if params[:commit] == 'Print View'%>

    <table class="table table-striped " style='font-size:12px;width:80%;text-align:left;' align="center">
        <thead></thead>
        <tr>
         <td> <b> <%=@contact.name%></b></td>
         <td> Ph: <%=@contact.contact_number%></td>
         <td>
              <%if !@contact.address.blank? %>
                Details : <%=@contact.address %>
              <%end%>
         </td>       
        </tr>
  
	    <tr>
	         <td> Total Amount : </td>
	         <td> <%=Utility.indian_number(@contact.total_purchase)%></td>
	         <td></td>
	         <td>Total Payment : </td>
	         <td><%=Utility.indian_number(@contact.total_payment)%></td>
	    </tr>
        <tr>
            <td> Baaki/Starting Amount : </td>
            <td><%=Utility.indian_number(@contact.starting_balance)%></td>
            <td></td>
            <td>Current Balance :</td>
            <td><%=Utility.indian_number(@contact.balance)%></td>
        </tr>

        <%if  params[:from_date] != '2000-01-01' || params[:to_date] != '2100-01-01'%>
          <tr>

           <td> <span style="color:#b8b8b8"> &nbsp;Details </span>
	            <span style="color:#b8b8b8">
		            <%if params[:from_date] != '2000-01-01' and !params[:from_date].blank?%> 
		               From <%=params[:from_date]%> 
		            <%end%>
		            <%if params[:to_date] != '2100-01-01' and !params[:to_date].blank? %> 
		                Up to <%=params[:to_date]%> 
		            <%end%>
	            </span>
            </td>
        </tr>   
        <%end%> 
    </table>
<%else%>
 
 <h5>Transactions</h5>    
<%end%>

<table class="table table-striped " style='font-size:12px;width:80%;text-align:left' align="center" rules="rows">
  <thead style="background-color:#FE2E9A;">
  <% if params[:commit] != 'Print View' %>
    <th class="col-sm-1">Trans#</th>
   <%end%> 
    <th>Date</th>
    <th>Note</th>
    <th >Item</th>
    <th>Total</th>
    <th>Payment</th>
    <th class="col-sm-1" style="color:#330099">Balance</th>
  </thead>
  <tbody>
   <% i = 0
   @transactions.each{|c|
     i+= 1 %>
    <%if i%2 == 0%>
       <tr>
    <%else%>
       <tr class="info">
    <%end%>
    <% if params[:commit] != 'Print View' %>
    <td><%=c.id%></td>
    <% end %>
    <td><%=c.on_date%></td>
    <td>
     <% if c.trans_type == 'payment'  %>
        <%if c.recieved == 0 %>
          PAYMENT PAID
          <%else%>
           PAYMENT RECIEVED
         <%end%>
         <br>
        <%end%> 
       <%if !c.site.blank? %> Site : <%=link_to c.site.name, rep_txnitems_site_url(:id => c.site.id)%><br><%end%>
       <%if !c.descri.blank? %>
         <%=c.descri%>
         <br>
       <%end%>
        
            <% if c.buyback == 1%>
               Items Returned
             <%end%>  
    </td>

    <td>

      <% if c.trans_type == 'payment'  %>
       
         <%c.payment_rows.each {|p| %>
            <%=p.pay_type%> : <%if !p.note.blank?%> <%=p.note%>  : <%end%> <%=p.amount%> <br>
         <% }%>

      <% else %>
        <%c.txn_items.each{|tx|%>
         <%=tx.item.name%> &nbsp;&nbsp; <%=tx.number%> &nbsp;x&nbsp;<%=tx.price%> 
         <br>
        <%}%>
        <%if c.hamaali.to_i > 0%>
          Hamaali &nbsp&nbsp <%=Utility.indian_number(c.hamaali)%>
          <br>
        <%end%>
        <%if c.vehicle_charges.to_i > 0%>
          Vehicle charges &nbsp&nbsp <%=Utility.indian_number(c.vehicle_charges)%>
          <br>
        <%end%>
      <%end%>
      <%if c.discount.to_i > 0%>
        Discount &nbsp&nbsp <%=Utility.indian_number(c.discount)%>
      <%end%>
      
      </td>
    <td> <% if c.trans_type != 'payment' %>
         <% if c.buyback == 1%>
               -
             <%end%>  
          <%=Utility.indian_number c.amount%>
        <%end%>
    </td>
    <td> <%= Utility.indian_number c.payment_amount%> </td>

    <td> <%=Utility.indian_number((c.contact_balance + c.contact.starting_balance))%> </td>
   </tr>
   <%}%>

   <tr>
  
         <td>  <b>Total  </b> </td>
      <td><%if params[:from_date] != '2000-01-01' and !params[:from_date].blank?%> From <%=params[:from_date]%> <%end%></td>
      <td><%if params[:to_date] != '2100-01-01' and !params[:to_date].blank? %>  Up to <%=params[:to_date]%> <%end%></td>
     <td></td>
      <td><b><%=Utility.indian_number(Transaction.total_amount @transactions)%></b></td>
      <td><b><%=Utility.indian_number(Transaction.total_payment @transactions)%></b></td>
      <td><b><%=Utility.indian_number( (Transaction.total_balance @transactions) + 
        @transactions[0].contact.starting_balance ) %></b></td>

   <tr>
  </tbody>

</table>
<br>
<hr>
