<br>
<div id='criteria' class="row-fluid" style="line-height:6px;">  

<div class='span7'>
<br>
  <span  style="font-size:18px;color:#330099"><%=@contact.name%></span>
     &nbsp;&nbsp; Ph: <%=@contact.contact_number%> 
     <%if !@contact.address.blank? %>
      &nbsp;&nbsp;
      Details: <%=@contact.address%>
     <%end%>

</div>

   <div class="span5 pull-right" >
   <br>
       
       <%=form_tag reports_contact_path(:id=>@contact.id), :remote => true do%>

        <%=text_field_tag :from_date, '', {class: 'report-date', style:'height:20px;width:120px;', :placeholder => "From Date"}%>
       <span style="font-size:18px;"> - </span>
        <%=text_field_tag :to_date, '', {class: 'report-date', style:'height:20px;width:120px;', :placeholder => "To Date"}%>
          <%=submit_tag "Show" , {class:'btn btn-primary btn-xs', style:'vertical-align: top;'}%>
          <%=submit_tag "Print View" , {class:'btn btn-warning btn-xs', style:'vertical-align: top;'} %>     
          <button id='filter_button' type="button" class="btn " style="vertical-align:top;" onclick='$("#mn_filter_cnt").toggle();$("#filter_button").toggleClass("btn-info");'> <i id='flt_icon' class="fa fa-gears " > </i></button>
       <%end%>
   </div>
</div>
<div  id='mn_filter_cnt' style="<%if @report.id.blank? %>display:none;<%end%>">
  <%=render :partial => 'contacts_filter'%>
</div>

<div id="amnt" class="row-fluid" >

   <div class="span2 offset1"  style="padding-left:20px;">
     Total Amount : <%= Utility.indian_number @contact.total_purchase%>
   </div>
    <div class="span2" >
      Total Payment : <%= Utility.indian_number @contact.total_payment%>
   </div>
   <div class="span3" >
    Baaki/Starting Amount : <%= Utility.indian_number @contact.starting_balance%>
   </div>
   <div class="span2" >
      Total Balance : <%=Utility.indian_number @contact.balance%>
   </div>
</div>

 <% if !flash[:notice].blank?%>
  <div id='success_' class="alert alert-success">
       <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;
       </button>
       <%=flash[:notice]%>
  </div>
  <%end%>

<div id="trs" class="row-fluid">
   <div class="span12" id='contact_report'>
   <% @contact_id = @contact.id %>
      <h5>Transactions</h5>    
      <%=render :template => 'transactions/_list.erb'%>
   </div>
</div>
<div id="trs1" class="row-fluid">
   <div class="span12">
     <h5>Item Purchased</h5> 
     
      <%=render :template => 'txn_items/list.erb'%>
   </div>
</div>


<div id="trs2" class="row-fluid">
   <div class="span12">
     <h5>Payments</h5>
      <%=render :template => 'payments/_list.erb'%>
   </div>
</div>


<script type="text/javascript">

$('.report-date').datepicker({ dateFormat: 'dd-mm-yy' });
</script>