
<table class="table zebra-striped  table-condensed" style='font-size:12px;width:80%' align="center">
  <thead style="background-color:#FE2E9A;">
    <th class="col-sm-1">Trans#</th>
    <th>Date</th>
    <th>Contact</th>
    <th>Note</th>
    <th >Item</th>
    <th>Total</th>
    <th>Payment</th>
    <th class="col-sm-1" style="color:#330099">Action</th>
  </thead>
  <tbody>
   <% i = 0
    @trs.each{|c|
     i+= 1 %>
    <%if i%2 == 0%>
       <tr>
    <%else%>
       <tr class="info">
    <%end%>
    <td><%=c.id%>
    </td>
    <td><%=c.on_date%></td>
    <td><%=link_to c.name_subname, report_page_contact_path(:id => c.contact_id)%>
    </td>
    <td>
   <%if !c.site.blank? %> Site : <%=link_to c.site.name, rep_txnitems_site_url(:id => c.site.id)%><br><%end%>
    <%=c.descri%>
       <% if c.buyback == 1%>
              <br>
           Items Returned
         <%end%>  

    </td>
    <td>

      <% if c.trans_type == 'payment'  %>
        <%if c.recieved == 0 %>
          PAYMENT PAID
          <%else%>
           PAYMENT RECIEVED
         <%end%>
         <%c.payment_rows.each {|p| %>
            <%=p.pay_type%> : <%if !p.note.blank?%> <%=p.note%>  : <%end%> <%=p.amount%> <br>
         <% }%>

      <% else %>
        <%c.txn_items.each{|tx|%>
         <%=tx.item.name%> &nbsp;&nbsp; <%=tx.number%> &nbsp;*&nbsp;<%=tx.price%> 
         <br>
        <%}%>
        <%if c.hamaali.to_i > 0%>
          Hamaali &nbsp&nbsp <%=c.hamaali%>
          <br>
        <%end%>
        <%if c.vehicle_charges.to_i > 0%>
          Vehicle charges &nbsp&nbsp <%=c.vehicle_charges%>
          <br>
        <%end%>
      <%end%>
      <%if c.discount.to_i > 0%>
        Discount &nbsp&nbsp <%=c.discount%>
      <%end%>
      
      </td>
    <td> <% if c.trans_type != 'payment' %>
          <%=c.amount%>
        <%end%>
    </td>
    <td>
       <%=c.payment_amount%></td>
    <td>
          <span id ='t1'>
          <% if c.trans_type == 'payment' %>
               <%=link_to "View/Edit", edit_payment_url(c.id), :class=>"label label-info"%><%=space(2).html_safe%>
          <%else%>
          <%=link_to "View/Edit", edit_transaction_url(c.id), :class=>"label label-info"%><%=space(2).html_safe%>
          <%end%>
         </span>
         <span id='t2'>
          <%=link_to "Delete", remove_transaction_url(c.id), :method => :post, :onclick => "return confirm('Are you sure?')", :class=>"label label-warning"%>
         </span>
      </td>
   </tr>
   <%}%>
  </tbody>

</table>
  <hr>
