<html>
<head>
     <title>Cement</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
</head>
<body style='font-size:13px;'>
<%=render :template => "layouts/nav.erb" %>

<div class="container-fluid">

  <div class="row-fluid" style="padding:5px">

    <div class="span12"style="text-align:left" id="items">
          <%=render :template => "sites/_sites_header.erb" %>
          <%=yield%>
    </div>


  </div>

</div>
</body>
</html>
