<table class="table zebra-striped table-condensed" style='font-size:12px;width:80%' align="center">
  <thead style="background-color:#C0C0C0;">
    <th>Item Name</th>
    <th>Descriprion</th>    
    <th>Item Type</th>
    
    <th style="color:#330099">Action</th>
  </thead>
  <tbody>
   <% i = 0
    @items.each{|c|
     i+= 1 %>
    <%if i%2 == 0%>
       <tr>
    <%else%>
       <tr class="info">
    <%end%>

    <td><%=link_to c.name, rep_txnitems_item_url(c.id)%></td>
    <td><%=c.description%></td>
    <td><%=c.item_type%></td>
   
    
    <td>
          <span id ='t1'>
          <%=link_to "Edit", edit_item_url(c.id), :class=>"label label-info"%><%=space(5).html_safe%>
         </span>
         <span id='t2'>
          <%=link_to "Delete", remove_item_url(c.id), :method => :post, :onclick => "return confirm('Are you sure?')", :class=>"label label-warning"%>
         </span>
      </td>
   </tr>
   <%}%>
  </tbody>

</table>
