

<table class="table zebra-striped table-condensed" style='font-size:12px;width:80%' align="center">
  <thead style="background-color:#C0C0C0;">
    <th>Payment#</th>
    <th>Date</th>    
    <th>Pay Type</th>
    <th>Note</th>
    <th>Contact</th>
    <th>Amount</th>
    <th>Account Balance</th>
    <th style="color:#330099">Action</th>
  </thead>
  <tbody>
   <% i = 0
    @payments.each{|c|
     i+= 1 %>
    <%if i%2 == 0%>
       <tr>
    <%else%>
       <tr class="info">
    <%end%>

    <td><%=c.id%></td>
    <td><%=c.on_date%></td>
    <td><%c.payment_rows.each {|p| %>
       <%=p.pay_type%> : <%if !p.note.blank?%> <%=p.note%>  : <%end%> <%=p.amount%> <br>
     <% }%>
     <%if c.discount > 0%>Discount : <%=c.discount%><%end%></td>
    <td><%=c.payment_note%></td>
    <td><%=c.tofrom_contact%></td>
    <td><%=c.payment_amount%></td>
    <td><%=c.contact_balance%></td>
    <td>
          <span id ='t1'>
          <%=link_to "Edit", edit_payment_url(c.id), :class=>"label label-info"%><%=space(5).html_safe%>
         </span>
         <span id='t2'>
          <%=link_to "Delete", remove_payment_url(c.id), :method => :post, :onclick => "return confirm('Are you sure?')", :class=>"label label-warning"%>
         </span>
      </td>
   </tr>
   <%}%>
  </tbody>

</table>