 
<% payment_row ||= PaymentRow.new() 
   payment_row.id ||= row_no.to_i %>

<%= fields_for "payment_rows[]", payment_row do |p| %>
   <div  class="row-fluid" id="pay_<%=row_no%>">
     <div class="span3">
        Payment Type:<br>
        <%=p.select  :pay_type,  options_for_select(["Cash","Cheque/DD", "Bank Transaction"],[payment_row.pay_type,payment_row.pay_type]),{},{style:'width:150px;'} %>

    </div>
    <div class="span3">
      Payment Info:<br>
      <%=p.text_field  :note, style:"height:30px;" %>
    </div>
    <div class="span3">
        Amount:<br>
       <%=p.text_field  :amount, id:"amount_#{row_no}", class:"each_amount", style:"height:30px;" %>
    </div>
    <div class='span2'>
     <%=link_to_function "-", "removeItem('#{row_no}')", style:'font-size:15px;font-weight:bold;'%>
  </div>
  </div>  
  
 <%end%> 