
<%= form_for @user do |f| %>
<div class="row-fluid">

  <div class="span12">
    <div class="row-fluid">
      <div class="span4" style='text-align:right;'>Login Username: </div>
      <div class="span4"><%= f.text_field :username, style:'height:30px;' %> </div>
    </div>
    <div class="row-fluid">
      <div class="span4" style='text-align:right;'>User Role </div>
      <div class="span4"><%= f.select :role, options_for_select(["General","Data Entry", "Admin"], selected_key = f.object.role) %> </div>
    </div>
    <div class="row-fluid">
      <div class="span4" style='text-align:right;'>User Full Name: </div>
      <div class="span4"><%= f.text_field :full_name , style:'height:30px;'%> </div>
    </div>

    <div class="row-fluid">
      <div class="span4" style='text-align:right;'>Email: </div>
      <div class="span4"><%= f.text_field :email , style:'height:30px;width:300px;'%> </div>
    </div>

    <div class="row-fluid">
      <div class="span4" style='text-align:right;'>Phone #: </div>
      <div class="span4"><%= f.text_field :contact_number, style:'height:30px;'%> </div>
    </div>
    <div class="row-fluid">
      <div class="span4" style='text-align:right;'>Adress </div>
      <div class="span4"><%= f.text_area :address, :rows => '3'%> </div>
    </div>
    <div class="row-fluid">
      <div class="span4" style='text-align:right;'>Start Date: </div>
      <div class="span4"><%= f.text_field :start_date, class:'input', style:'height:30px;'%> </div>
    </div>
    <div class="row-fluid">
      <div class="span4" style='text-align:right;'>Othe Information </div>
      <div class="span4"><%= f.text_area :info,  :rows => '3'%> </div>
    </div>

  </div>


</div>

<div class="row-fluid">
  <div class="span12">
     <hr>
    <%=space(10).html_safe%> <%= f.submit %><%=space(5).html_safe%> <%=link_to "Cancel", users_url, :style=>"font-weight:bold"%>
  </div>
</div>
<% end %>


<script type="text/javascript">
  $('#user_start_date').datepicker({ dateFormat: 'yy-MM-dd' });
  $("#user_start_date").datepicker('setDate', new Date());
</script>